<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/home">
            AI Security Agent
        </a>

        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/login">Inicio Sesion</a>
            <a class="nav-link" href="/funcionamiento">Funcionamiento</a>
            <a class="nav-link" href="/evolucion">Evolución</a>
        </div>
    </div>
</nav>


<div class="container py-5">

    <div class="text-center mb-5">

        <h1 class="display-4 fw-bold">
            Evolución del Proyecto
        </h1>

        <p class="lead text-muted">

            El AI Security Agent ha sido diseñado para crecer de forma modular,
            incorporando nuevas capacidades en cada versión.

        </p>

    </div>

    <div class="timeline">

        <div class="version-card">

            <h2>Versión 1</h2>

            <h5>MVP</h5>

            <ul>

                <li>Detección USB</li>

                <li>Detección Descargas</li>

                <li>Capturas automáticas</li>

                <li>Registro de eventos</li>

            </ul>

        </div>

        <div class="version-card">

            <h2>Versión 2</h2>

            <h5>Automatización</h5>

            <ul>

                <li>Reconocimiento facial</li>

                <li>Gestión de permisos</li>

                <li>Panel Web</li>

                <li>Mayor cantidad de reglas</li>

            </ul>

        </div>

        <div class="version-card">

            <h2>Versión 3</h2>

            <h5>IA</h5>

            <ul>

                <li>LangGraph</li>

                <li>Memoria de eventos</li>

                <li>Explicación de decisiones</li>

                <li>Contexto histórico</li>

            </ul>

        </div>

        <div class="version-card">

            <h2>Versión 4</h2>

            <h5>Enterprise</h5>

            <ul>

                <li>ESP32</li>

                <li>MQTT</li>

                <li>Múltiples computadores</li>

                <li>Dashboard Tiempo Real</li>

            </ul>

        </div>

    </div>

</div>