.card{
border-radius:20px;
}

.table td{
vertical-align:middle;
}

.descripcion{
max-width:350px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}

.modal-content{
border:none;
border-radius:20px;
}

.form-control{
border-radius:12px;
padding:12px;
}

.btn{
border-radius:12px;
transition:.3s;
}

.btn:hover{
transform:translateY(-2px);
}

thead{
font-size:.9rem;
}